Repository honeycombio/honeycomb-opentelemetry-web: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-web-distro, build-react-distro

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.1.0

parameters:
  base-path:
    type: string
    default: ''

workflows:
  generate-config:
    jobs:
      - path-filtering/filter:
          base-revision: mhaddara/exp-multi-packages
          filters:
            tags:
              only: /.*/
          config-path: .circleci/build.yml
          mapping: |
            packages/honeycomb-opentelemetry-web/.* build-web-distro true
            packages/honeycomb-react-user-instrumentation/.* build-react-distro true

rel: honeycomb-opentelemetry-web@v0.6.0 (#234)
  CHANGELOG.md
  packages/honeycomb-opentelemetry-web/package-lock.json
  packages/honeycomb-opentelemetry-web/package.json
  packages/honeycomb-opentelemetry-web/src/version.ts
Due: build-web-distro

missing .
  .circleci/build.yml
Due: none

fix(ci): add missing `.` to npm publish step (#235)
  .circleci/build.yml
Due: none

update to make sure subscribe is only called in the constructor
  packages/honeycomb-opentelemetry-web/examples/hello-world-react-create-app/src/reactRouterSpanProcessor.ts
Due: build-web-distro

docs: Add example for a span processor that hooks into react router (#233)
  packages/honeycomb-opentelemetry-web/examples/hello-world-react-create-app/package-lock.json
  packages/honeycomb-opentelemetry-web/examples/hello-world-react-create-app/package.json
  packages/honeycomb-opentelemetry-web/examples/hello-world-react-create-app/src/index.tsx
  packages/honeycomb-opentelemetry-web/examples/hello-world-react-create-app/src/reactRouterSpanProcessor.ts
Due: build-web-distro

chore: update gitignore paths
  .gitignore
Due: none

chore: update gitignore paths (#239)
  .gitignore
Due: none

Update readme links.
  README.md
Due: none

chore: Update readme links to docs (#242)
  README.md
Due: none

add basic dumb instrumentation
  packages/honeycomb-react-user-instrumentation/.eslintrc.js
  packages/honeycomb-react-user-instrumentation/package-lock.json
  packages/honeycomb-react-user-instrumentation/package.json
  packages/honeycomb-react-user-instrumentation/src/ReactUserInteractionInstrumentation.ts
  packages/honeycomb-react-user-instrumentation/src/ReactUserInteractionSpanProcessor.ts
  packages/honeycomb-react-user-instrumentation/src/index.ts
  packages/honeycomb-react-user-instrumentation/test/index.test.ts
  packages/honeycomb-react-user-instrumentation/tsconfig.json
Due: build-react-distro

add example app
  packages/honeycomb-react-user-instrumentation/examples/hello-world-react-create-app/.eslintrc.json
  packages/honeycomb-react-user-instrumentation/examples/hello-world-react-create-app/README.md
  packages/honeycomb-react-user-instrumentation/examples/hello-world-react-create-app/package-lock.json
  packages/honeycomb-react-user-instrumentation/examples/hello-world-react-create-app/package.json
  packages/honeycomb-react-user-instrumentation/examples/hello-world-react-create-app/public/favicon.ico
  packages/honeycomb-react-user-instrumentation/examples/hello-world-react-create-app/public/index.html
  packages/honeycomb-react-user-instrumentation/examples/hello-world-react-create-app/public/logo192.png
  packages/honeycomb-react-user-instrumentation/examples/hello-world-react-create-app/public/logo512.png
  packages/honeycomb-react-user-instrumentation/examples/hello-world-react-create-app/public/manifest.json
  packages/honeycomb-react-user-instrumentation/examples/hello-world-react-create-app/public/robots.txt
  packages/honeycomb-react-user-instrumentation/examples/hello-world-react-create-app/src/App.css
  packages/honeycomb-react-user-instrumentation/examples/hello-world-react-create-app/src/App.test.tsx
  packages/honeycomb-react-user-instrumentation/examples/hello-world-react-create-app/src/App.tsx
  packages/honeycomb-react-user-instrumentation/examples/hello-world-react-create-app/src/index.css
  packages/honeycomb-react-user-instrumentation/examples/hello-world-react-create-app/src/index.tsx
  packages/honeycomb-react-user-instrumentation/examples/hello-world-react-create-app/src/logo.svg
  packages/honeycomb-react-user-instrumentation/examples/hello-world-react-create-app/src/react-app-env.d.ts
  packages/honeycomb-react-user-instrumentation/examples/hello-world-react-create-app/src/reactRouterSpanProcessor.ts
  packages/honeycomb-react-user-instrumentation/examples/hello-world-react-create-app/src/reportWebVitals.ts
  packages/honeycomb-react-user-instrumentation/examples/hello-world-react-create-app/src/setupTests.ts
  packages/honeycomb-react-user-instrumentation/examples/hello-world-react-create-app/tsconfig.json
Due: build-react-distro

move tests
  packages/honeycomb-react-user-instrumentation/src/index.test.ts
  packages/honeycomb-react-user-instrumentation/test/index.test.ts
Due: build-react-distro

lint fix
  packages/honeycomb-react-user-instrumentation/examples/hello-world-react-create-app/src/App.tsx
  packages/honeycomb-react-user-instrumentation/examples/hello-world-react-create-app/src/index.tsx
Due: build-react-distro

update jest types
  packages/honeycomb-react-user-instrumentation/examples/hello-world-react-create-app/package-lock.json
  packages/honeycomb-react-user-instrumentation/package-lock.json
  packages/honeycomb-react-user-instrumentation/package.json
Due: build-react-distro

allow clients to pass list of event names
  packages/honeycomb-react-user-instrumentation/src/ReactUserInteractionInstrumentation.ts
Due: build-react-distro

proof of concept: single global event handler
  packages/honeycomb-react-user-instrumentation/examples/hello-world-react-create-app/src/App.tsx
  packages/honeycomb-react-user-instrumentation/examples/hello-world-react-create-app/src/index.tsx
  packages/honeycomb-react-user-instrumentation/src/ReactUserInteractionInstrumentation.ts
Due: build-react-distro

delete span processor now that we don't need it
  packages/honeycomb-react-user-instrumentation/src/ReactUserInteractionSpanProcessor.ts
  packages/honeycomb-react-user-instrumentation/src/index.ts
Due: build-react-distro

implement disable instrumentation functionality
  packages/honeycomb-react-user-instrumentation/src/ReactUserInteractionInstrumentation.ts
Due: build-react-distro

create version.ts file
  RELEASING.md
  packages/honeycomb-react-user-instrumentation/src/ReactUserInteractionInstrumentation.ts
  packages/honeycomb-react-user-instrumentation/src/version.ts
Due: build-react-distro

add some initial tests
  packages/honeycomb-react-user-instrumentation/src/ReactUserInteractionInstrumentation.ts
  packages/honeycomb-react-user-instrumentation/src/index.test.ts
Due: build-react-distro

copy over example CRA app
  packages/honeycomb-react-user-instrumentation/examples/hello-world-react-create-app/hello-world-react-create-app/.eslintrc.json
  packages/honeycomb-react-user-instrumentation/examples/hello-world-react-create-app/hello-world-react-create-app/README.md
  packages/honeycomb-react-user-instrumentation/examples/hello-world-react-create-app/hello-world-react-create-app/package-lock.json
  packages/honeycomb-react-user-instrumentation/examples/hello-world-react-create-app/hello-world-react-create-app/package.json
  packages/honeycomb-react-user-instrumentation/examples/hello-world-react-create-app/hello-world-react-create-app/public/favicon.ico
  packages/honeycomb-react-user-instrumentation/examples/hello-world-react-create-app/hello-world-react-create-app/public/index.html
  packages/honeycomb-react-user-instrumentation/examples/hello-world-react-create-app/hello-world-react-create-app/public/logo192.png
  packages/honeycomb-react-user-instrumentation/examples/hello-world-react-create-app/hello-world-react-create-app/public/logo512.png
  packages/honeycomb-react-user-instrumentation/examples/hello-world-react-create-app/hello-world-react-create-app/public/manifest.json
  packages/honeycomb-react-user-instrumentation/examples/hello-world-react-create-app/hello-world-react-create-app/public/robots.txt
  packages/honeycomb-react-user-instrumentation/examples/hello-world-react-create-app/hello-world-react-create-app/src/App.css
  packages/honeycomb-react-user-instrumentation/examples/hello-world-react-create-app/hello-world-react-create-app/src/App.test.tsx
  packages/honeycomb-react-user-instrumentation/examples/hello-world-react-create-app/hello-world-react-create-app/src/App.tsx
  packages/honeycomb-react-user-instrumentation/examples/hello-world-react-create-app/hello-world-react-create-app/src/index.css
  packages/honeycomb-react-user-instrumentation/examples/hello-world-react-create-app/hello-world-react-create-app/src/index.tsx
  packages/honeycomb-react-user-instrumentation/examples/hello-world-react-create-app/hello-world-react-create-app/src/logo.svg
  packages/honeycomb-react-user-instrumentation/examples/hello-world-react-create-app/hello-world-react-create-app/src/react-app-env.d.ts
  packages/honeycomb-react-user-instrumentation/examples/hello-world-react-create-app/hello-world-react-create-app/src/reactRouterSpanProcessor.ts
  packages/honeycomb-react-user-instrumentation/examples/hello-world-react-create-app/hello-world-react-create-app/src/reportWebVitals.ts
  packages/honeycomb-react-user-instrumentation/examples/hello-world-react-create-app/hello-world-react-create-app/src/setupTests.ts
  packages/honeycomb-react-user-instrumentation/examples/hello-world-react-create-app/hello-world-react-create-app/tsconfig.json
Due: build-react-distro

rename empty react instrumentation package to experimental
  packages/experimental/.eslintignore
  packages/experimental/.eslintrc.js
  packages/experimental/.prettierignore
  packages/experimental/.prettierrc.js
  packages/experimental/Makefile
  packages/experimental/examples/hello-world-react-create-app/hello-world-react-create-app/.eslintrc.json
  packages/experimental/examples/hello-world-react-create-app/hello-world-react-create-app/README.md
  packages/experimental/examples/hello-world-react-create-app/hello-world-react-create-app/package-lock.json
  packages/experimental/examples/hello-world-react-create-app/hello-world-react-create-app/package.json
  packages/experimental/examples/hello-world-react-create-app/hello-world-react-create-app/public/favicon.ico
  packages/experimental/examples/hello-world-react-create-app/hello-world-react-create-app/public/index.html
  packages/experimental/examples/hello-world-react-create-app/hello-world-react-create-app/public/logo192.png
  packages/experimental/examples/hello-world-react-create-app/hello-world-react-create-app/public/logo512.png
  packages/experimental/examples/hello-world-react-create-app/hello-world-react-create-app/public/manifest.json
  packages/experimental/examples/hello-world-react-create-app/hello-world-react-create-app/public/robots.txt
  packages/experimental/examples/hello-world-react-create-app/hello-world-react-create-app/src/App.css
  packages/experimental/examples/hello-world-react-create-app/hello-world-react-create-app/src/App.test.tsx
  packages/experimental/examples/hello-world-react-create-app/hello-world-react-create-app/src/App.tsx
  packages/experimental/examples/hello-world-react-create-app/hello-world-react-create-app/src/index.css
  packages/experimental/examples/hello-world-react-create-app/hello-world-react-create-app/src/index.tsx
  packages/experimental/examples/hello-world-react-create-app/hello-world-react-create-app/src/logo.svg
  packages/experimental/examples/hello-world-react-create-app/hello-world-react-create-app/src/react-app-env.d.ts
  packages/experimental/examples/hello-world-react-create-app/hello-world-react-create-app/src/reactRouterSpanProcessor.ts
  packages/experimental/examples/hello-world-react-create-app/hello-world-react-create-app/src/reportWebVitals.ts
  packages/experimental/examples/hello-world-react-create-app/hello-world-react-create-app/src/setupTests.ts
  packages/experimental/examples/hello-world-react-create-app/hello-world-react-create-app/tsconfig.json
  packages/experimental/jest.config.js
  packages/experimental/package-lock.json
  packages/experimental/package.json
  packages/experimental/rollup.config.mjs
  packages/experimental/src/index.ts
  packages/experimental/test/index.test.ts
  packages/experimental/tsconfig.eslint.json
  packages/experimental/tsconfig.json
Due: none

update release pipelines
  .circleci/build.yml
  .circleci/config.yml
  .github/dependabot.yml
  RELEASING.md
Due: none

update package.json
  packages/experimental/package-lock.json
  packages/experimental/package.json
Due: none

undo nesting
  packages/experimental/examples/hello-world-react-create-app/.eslintrc.json
  packages/experimental/examples/hello-world-react-create-app/README.md
  packages/experimental/examples/hello-world-react-create-app/package-lock.json
  packages/experimental/examples/hello-world-react-create-app/package.json
  packages/experimental/examples/hello-world-react-create-app/public/favicon.ico
  packages/experimental/examples/hello-world-react-create-app/public/index.html
  packages/experimental/examples/hello-world-react-create-app/public/logo192.png
  packages/experimental/examples/hello-world-react-create-app/public/logo512.png
  packages/experimental/examples/hello-world-react-create-app/public/manifest.json
  packages/experimental/examples/hello-world-react-create-app/public/robots.txt
  packages/experimental/examples/hello-world-react-create-app/src/App.css
  packages/experimental/examples/hello-world-react-create-app/src/App.test.tsx
  packages/experimental/examples/hello-world-react-create-app/src/App.tsx
  packages/experimental/examples/hello-world-react-create-app/src/index.css
  packages/experimental/examples/hello-world-react-create-app/src/index.tsx
  packages/experimental/examples/hello-world-react-create-app/src/logo.svg
  packages/experimental/examples/hello-world-react-create-app/src/react-app-env.d.ts
  packages/experimental/examples/hello-world-react-create-app/src/reactRouterSpanProcessor.ts
  packages/experimental/examples/hello-world-react-create-app/src/reportWebVitals.ts
  packages/experimental/examples/hello-world-react-create-app/src/setupTests.ts
  packages/experimental/examples/hello-world-react-create-app/tsconfig.json
Due: none

feat: rebrand react package as experimental package (#257)
  .circleci/build.yml
  .circleci/config.yml
  .github/dependabot.yml
  RELEASING.md
  packages/experimental/.eslintignore
  packages/experimental/.eslintrc.js
  packages/experimental/.prettierignore
  packages/experimental/.prettierrc.js
  packages/experimental/Makefile
  packages/experimental/examples/hello-world-react-create-app/.eslintrc.json
  packages/experimental/examples/hello-world-react-create-app/README.md
  packages/experimental/examples/hello-world-react-create-app/package-lock.json
  packages/experimental/examples/hello-world-react-create-app/package.json
  packages/experimental/examples/hello-world-react-create-app/public/favicon.ico
  packages/experimental/examples/hello-world-react-create-app/public/index.html
  packages/experimental/examples/hello-world-react-create-app/public/logo192.png
  packages/experimental/examples/hello-world-react-create-app/public/logo512.png
  packages/experimental/examples/hello-world-react-create-app/public/manifest.json
  packages/experimental/examples/hello-world-react-create-app/public/robots.txt
  packages/experimental/examples/hello-world-react-create-app/src/App.css
  packages/experimental/examples/hello-world-react-create-app/src/App.test.tsx
  packages/experimental/examples/hello-world-react-create-app/src/App.tsx
  packages/experimental/examples/hello-world-react-create-app/src/index.css
  packages/experimental/examples/hello-world-react-create-app/src/index.tsx
  packages/experimental/examples/hello-world-react-create-app/src/logo.svg
  packages/experimental/examples/hello-world-react-create-app/src/react-app-env.d.ts
  packages/experimental/examples/hello-world-react-create-app/src/reactRouterSpanProcessor.ts
  packages/experimental/examples/hello-world-react-create-app/src/reportWebVitals.ts
  packages/experimental/examples/hello-world-react-create-app/src/setupTests.ts
  packages/experimental/examples/hello-world-react-create-app/tsconfig.json
  packages/experimental/jest.config.js
  packages/experimental/package-lock.json
  packages/experimental/package.json
  packages/experimental/rollup.config.mjs
  packages/experimental/src/index.ts
  packages/experimental/test/index.test.ts
  packages/experimental/tsconfig.eslint.json
  packages/experimental/tsconfig.json
Due: none

add experimental user interaction instrumentation
  packages/experimental/src/user-interaction-instrumentation.ts
  packages/experimental/src/version.ts
  packages/experimental/test/index.test.ts
  packages/experimental/test/user-interaction-instrumentation.test.ts
Due: none

fix insturmentation initialization
  packages/experimental/src/user-interaction-instrumentation.ts
Due: none

use the instrumentation in our example app
  packages/experimental/examples/hello-world-react-create-app/src/App.tsx
  packages/experimental/examples/hello-world-react-create-app/src/index.tsx
  packages/experimental/src/index.ts
Due: none

update onclick detection to account for event bubbling
  packages/experimental/examples/hello-world-react-create-app/src/App.css
  packages/experimental/examples/hello-world-react-create-app/src/App.tsx
  packages/experimental/examples/hello-world-react-create-app/src/index.tsx
  packages/experimental/src/user-interaction-instrumentation.ts
Due: none

make rootNodeId optional
  packages/experimental/src/user-interaction-instrumentation.ts
Due: none

update jest test name
  packages/experimental/test/user-interaction-instrumentation.test.ts
Due: none

update folder name
  .circleci/build.yml
  .circleci/config.yml
  .github/dependabot.yml
  RELEASING.md
  packages/experimental-opentelemetry-web/.eslintignore
  packages/experimental-opentelemetry-web/.eslintrc.js
  packages/experimental-opentelemetry-web/.prettierignore
  packages/experimental-opentelemetry-web/.prettierrc.js
  packages/experimental-opentelemetry-web/Makefile
  packages/experimental-opentelemetry-web/examples/hello-world-react-create-app/.eslintrc.json
  packages/experimental-opentelemetry-web/examples/hello-world-react-create-app/README.md
  packages/experimental-opentelemetry-web/examples/hello-world-react-create-app/package-lock.json
  packages/experimental-opentelemetry-web/examples/hello-world-react-create-app/package.json
  packages/experimental-opentelemetry-web/examples/hello-world-react-create-app/public/favicon.ico
  packages/experimental-opentelemetry-web/examples/hello-world-react-create-app/public/index.html
  packages/experimental-opentelemetry-web/examples/hello-world-react-create-app/public/logo192.png
  packages/experimental-opentelemetry-web/examples/hello-world-react-create-app/public/logo512.png
  packages/experimental-opentelemetry-web/examples/hello-world-react-create-app/public/manifest.json
  packages/experimental-opentelemetry-web/examples/hello-world-react-create-app/public/robots.txt
  packages/experimental-opentelemetry-web/examples/hello-world-react-create-app/src/App.css
  packages/experimental-opentelemetry-web/examples/hello-world-react-create-app/src/App.test.tsx
  packages/experimental-opentelemetry-web/examples/hello-world-react-create-app/src/App.tsx
  packages/experimental-opentelemetry-web/examples/hello-world-react-create-app/src/index.css
  packages/experimental-opentelemetry-web/examples/hello-world-react-create-app/src/index.tsx
  packages/experimental-opentelemetry-web/examples/hello-world-react-create-app/src/logo.svg
  packages/experimental-opentelemetry-web/examples/hello-world-react-create-app/src/react-app-env.d.ts
  packages/experimental-opentelemetry-web/examples/hello-world-react-create-app/src/reactRouterSpanProcessor.ts
  packages/experimental-opentelemetry-web/examples/hello-world-react-create-app/src/reportWebVitals.ts
  packages/experimental-opentelemetry-web/examples/hello-world-react-create-app/src/setupTests.ts
  packages/experimental-opentelemetry-web/examples/hello-world-react-create-app/tsconfig.json
  packages/experimental-opentelemetry-web/jest.config.js
  packages/experimental-opentelemetry-web/package-lock.json
  packages/experimental-opentelemetry-web/package.json
  packages/experimental-opentelemetry-web/rollup.config.mjs
  packages/experimental-opentelemetry-web/src/index.ts
  packages/experimental-opentelemetry-web/src/user-interaction-instrumentation.ts
  packages/experimental-opentelemetry-web/src/version.ts
  packages/experimental-opentelemetry-web/test/user-interaction-instrumentation.test.ts
  packages/experimental-opentelemetry-web/tsconfig.eslint.json
  packages/experimental-opentelemetry-web/tsconfig.json
Due: none

snake_case -> camelCase
  packages/experimental-opentelemetry-web/src/user-interaction-instrumentation.ts
Due: none

Add CDN example.
  packages/honeycomb-opentelemetry-web/examples/hello-world-cdn/README.md
  packages/honeycomb-opentelemetry-web/examples/hello-world-cdn/cdn/index.js
  packages/honeycomb-opentelemetry-web/examples/hello-world-cdn/index.html
  packages/honeycomb-opentelemetry-web/examples/hello-world-cdn/package-lock.json
  packages/honeycomb-opentelemetry-web/examples/hello-world-cdn/package.json
  packages/honeycomb-opentelemetry-web/rollup.config.mjs
Due: build-web-distro

fix: Make applyCustomAttributes optional.
  packages/honeycomb-opentelemetry-web/examples/hello-world-react-create-app/src/index.tsx
  packages/honeycomb-opentelemetry-web/src/web-vitals-autoinstrumentation.ts
Due: build-web-distro

Back out default pattern.
  packages/honeycomb-opentelemetry-web/src/web-vitals-autoinstrumentation.ts
Due: build-web-distro

fix: Make applyCustomAttributes optional. (#281)
  packages/honeycomb-opentelemetry-web/examples/hello-world-react-create-app/src/index.tsx
  packages/honeycomb-opentelemetry-web/src/web-vitals-autoinstrumentation.ts
Due: build-web-distro

Expose configure funtion, span creation.
  packages/honeycomb-opentelemetry-web/examples/hello-world-cdn/cdn/index.js
  packages/honeycomb-opentelemetry-web/examples/hello-world-cdn/index.html
  packages/honeycomb-opentelemetry-web/package-lock.json
  packages/honeycomb-opentelemetry-web/package.json
  packages/honeycomb-opentelemetry-web/rollup.config.mjs
  packages/honeycomb-opentelemetry-web/src/cdn/index.ts
Due: build-web-distro
