Repository honeycombio/honeycomb-opentelemetry-web: changes, and which CircleCI parameters are due for each by the changed paths.
All: package-name="honeycomb-opentelemetry-web", package-name="honeycomb-react-user-instrumentation"

fix schema config
  .circleci/build.yml
Due: none

separate src linting from examples linting
  .circleci/build.yml
  packages/honeycomb-opentelemetry-web/package.json
Due: package-name="honeycomb-opentelemetry-web"

use correct path
  .circleci/config.yml
Due: none

put everything in the same pipeline file, use conditional workflows
  .circleci/build.yml
  .circleci/config.yml
  packages/honeycomb-react-user-instrumentation/.circleci/config.yml
  packages/honeycomb-react-user-instrumentation/package.json
Due: package-name="honeycomb-react-user-instrumentation"

remove unused scripts
  packages/honeycomb-react-user-instrumentation/package.json
Due: package-name="honeycomb-react-user-instrumentation"

ts test file instead of js
  packages/honeycomb-react-user-instrumentation/package-lock.json
  packages/honeycomb-react-user-instrumentation/test/index.test.ts
Due: package-name="honeycomb-react-user-instrumentation"

fix install command
  .circleci/build.yml
Due: none

run distinct pipelines for each change
  .circleci/config.yml
  packages/honeycomb-opentelemetry-web/.circleci/config.yml
  packages/honeycomb-react-user-instrumentation/.circleci/config.yml
Due: package-name="honeycomb-opentelemetry-web", package-name="honeycomb-react-user-instrumentation"

clarify release process
  .circleci/build.yml
  RELEASING.md
Due: none

put the prefix in the right spot
  RELEASING.md
Due: none

run setup for all tags
  .circleci/config.yml
Due: none

add back package path
  .circleci/build.yml
Due: none

tag includes package path already so no need to add it on
  .circleci/build.yml
Due: none

`-generatenotes` flag not supported, rip
  .circleci/build.yml
Due: none

change base revision
  .circleci/config.yml
Due: none

disable "publish to npm" steps
  .circleci/build.yml
Due: none

add react readme
  packages/honeycomb-react-user-instrumentation/README.md
Due: package-name="honeycomb-react-user-instrumentation"

change readme to trigger ci
  packages/honeycomb-opentelemetry-web/README.md
Due: package-name="honeycomb-opentelemetry-web"

use longer more descriptive tag names and document them
  .circleci/build.yml
  RELEASING.md
Due: none

update package paths for dependabot
  .github/dependabot.yml
Due: none

maint: update package paths for dependabot (#218)
  .github/dependabot.yml
Due: none

Tell people about the session ID
  README.md
Due: none

docs: Tell people about the session ID (#232)
  README.md
Due: none

docs: Add example for a span processor that hooks into react router
  packages/honeycomb-opentelemetry-web/examples/hello-world-react-create-app/package-lock.json
  packages/honeycomb-opentelemetry-web/examples/hello-world-react-create-app/package.json
  packages/honeycomb-opentelemetry-web/examples/hello-world-react-create-app/src/index.tsx
  packages/honeycomb-opentelemetry-web/examples/hello-world-react-create-app/src/reactRouterSpanProcessor.ts
Due: package-name="honeycomb-opentelemetry-web"

Add support for INP/LoAf timings.
  packages/honeycomb-opentelemetry-web/package-lock.json
  packages/honeycomb-opentelemetry-web/src/web-vitals-autoinstrumentation.ts
Due: package-name="honeycomb-opentelemetry-web"

Add doc string.
  packages/honeycomb-opentelemetry-web/src/web-vitals-autoinstrumentation.ts
Due: package-name="honeycomb-opentelemetry-web"

Only add support for INP timings.
  packages/honeycomb-opentelemetry-web/src/web-vitals-autoinstrumentation.ts
  packages/honeycomb-opentelemetry-web/test/web-vitals-instrumentation.test.ts
Due: package-name="honeycomb-opentelemetry-web"

Update script key name.
  packages/honeycomb-opentelemetry-web/src/web-vitals-autoinstrumentation.ts
  packages/honeycomb-opentelemetry-web/test/web-vitals-instrumentation.test.ts
Due: package-name="honeycomb-opentelemetry-web"

Update web-vitals.
  packages/honeycomb-opentelemetry-web/package-lock.json
  packages/honeycomb-react-user-instrumentation/package.json
Due: package-name="honeycomb-opentelemetry-web", package-name="honeycomb-react-user-instrumentation"

Removed stringifed array of timing data.
  packages/honeycomb-opentelemetry-web/src/web-vitals-autoinstrumentation.ts
  packages/honeycomb-opentelemetry-web/test/web-vitals-instrumentation.test.ts
Due: package-name="honeycomb-opentelemetry-web"

Fixup function names, hellp world should report all events.
  packages/honeycomb-opentelemetry-web/examples/hello-world-web/index.js
  packages/honeycomb-opentelemetry-web/src/web-vitals-autoinstrumentation.ts
Due: package-name="honeycomb-opentelemetry-web"

Add attrs for PerformanceResourceTiming.
  packages/honeycomb-opentelemetry-web/src/web-vitals-autoinstrumentation.ts
Due: package-name="honeycomb-opentelemetry-web"

Add PerformanceNavigationTiming for TTFB.
  packages/honeycomb-opentelemetry-web/src/web-vitals-autoinstrumentation.ts
Due: package-name="honeycomb-opentelemetry-web"

Add config to ass timings as spans.
  packages/honeycomb-opentelemetry-web/src/web-vitals-autoinstrumentation.ts
Due: package-name="honeycomb-opentelemetry-web"

Upgrade web vitals to 4.2.3
  packages/honeycomb-opentelemetry-web/package-lock.json
  packages/honeycomb-opentelemetry-web/package.json
Due: package-name="honeycomb-opentelemetry-web"

Upgrade web vitals to 4.2.3
  packages/honeycomb-react-user-instrumentation/package-lock.json
  packages/honeycomb-react-user-instrumentation/package.json
Due: package-name="honeycomb-react-user-instrumentation"

feat: Add LOAF support for onINP (#191)
  packages/honeycomb-opentelemetry-web/examples/hello-world-web/index.js
  packages/honeycomb-opentelemetry-web/package-lock.json
  packages/honeycomb-opentelemetry-web/package.json
  packages/honeycomb-opentelemetry-web/src/web-vitals-autoinstrumentation.ts
  packages/honeycomb-opentelemetry-web/test/web-vitals-instrumentation.test.ts
  packages/honeycomb-react-user-instrumentation/package-lock.json
  packages/honeycomb-react-user-instrumentation/package.json
Due: package-name="honeycomb-opentelemetry-web", package-name="honeycomb-react-user-instrumentation"

honeycomb-opentelemetry-web@v0.6.0
  CHANGELOG.md
  packages/honeycomb-opentelemetry-web/package-lock.json
  packages/honeycomb-opentelemetry-web/package.json
  packages/honeycomb-opentelemetry-web/src/version.ts
Due: package-name="honeycomb-opentelemetry-web"

Path conditions:
  package-name="honeycomb-opentelemetry-web": any of: packages/honeycomb-opentelemetry-web/.*
  package-name="honeycomb-react-user-instrumentation": any of: packages/honeycomb-react-user-instrumentation/.*
